.content {
  position: relative;
  margin: 23px auto 0 auto;
  width: 1300px;
  min-height: 500px;
}

.community_header {
  position: relative;
  margin-top: 23px;
  width: 1300px;
  height: 58px;
  border-bottom: 1px solid #a3a3a7;
}

.community_header .searchForm {
  display: flex;
  justify-content: end;
  align-items: center;
}

.community_header .searchInput {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 42px;
  border: none;
  border: 1px solid #5a5a64;
  border-right: 0;
  font-size: 14px;
  line-height: 53px;
  text-indent: 20px;
}

.community_header .searchInput:focus {
  outline: none;
}

.community_header .searchBtn {
  height: 42px;
  background: #fff;
  border: 1px solid #5a5a64;
  border-left: 0;
}

.searchSelect {
  position: relative;
  margin: 0;
  width: 120px;
  height: 42px;
  z-index: 99;
  font-size: 14px;
  font-weight: 400;
  color: #6a6e76;
  z-index: 1;
  padding: 0 0 0 13px;
}

.searchSelect:focus {
  outline: none;
}

.board_list {
  min-height: 400px;
}

.board_list .board_item {
  display: flex;
  align-items: center;
  padding: 17px 0 16px 0;
  border-bottom: 1px solid #eeedf2;
}

.board_list .board_item .title {
  flex: 5;
  padding-left: 40px;
  color: black;
  text-decoration: none;
}

.board_list .board_item .writer {
  flex: 1;
}

.board_list .board_item .date {
  flex: 1;
  padding-left: 20px;
}

.board_list .board_item .view {
  flex: 1;
  padding-left: 20px;
}

.buttonBox {
  margin-top: 20px;
  text-align: right;
}

.buttonBox .writeBtn {
  width: 160px;
  height: 45px;
  background: #3392ff;
  color: white;
  border: 1px solid #1a6ed8;
  font-size: 13px;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 8px; /* ← 간격 조절 포인트 */
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.pagination li.active a {
  background-color: #333;
  color: white;
  font-weight: bold;
}

.pagination li.disabled a {
  color: #ccc;
  pointer-events: none;
  border-color: #eee;
}
